<!-- This is the aout page -->
<style>
 #color_me_in {
  background-color: <%= @color %>;
  color:white;
  width:250px;
  height:250px;


 }

</style>

<div id="color_me_in">
  <p>
    <% if @color != nil%>
    <%= @color.upcase %> BOX ACTIVATED!
    <% end %>
  </p>
</div>


<%= form_tag index_path do %>

 <p><%= text_field_tag :name,nil,placeholder: "What's your name?" %></p>
 <p><%= submit_tag :submit %></p>

<% end %>
